.bodyWrap {
    display: flex;
    flex-direction: row;
}


/* Section gauche */

    .mainHeader {
        background-image:  url('../images/nicole.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        width: 50%;
        
        /* flex: 1;  */
        /* position: static; */
        
        /* overflow: hidden; */
                    /* Fix application de Flexbox */
            display: flex;
            flex-direction: column;     
            justify-content: space-between;   
    }
    
    /* Logo titre */
    /* .mainHeader_logo {
        display: flex;
        align-items: flex-start;
       
    } */
        .mainHeader_logo {
          
           background: url('../images/onews.svg') no-repeat 0px 6px  ;
           background-size: 110px 60px;

           width: fit-content;
           height: 300px;
           padding: 0px 0px 0px 95px;
           margin: 75px 0px 0px 50px;

        }
        .mainHeader_logo a {
            text-decoration: none;
        }

            .mainheader_logo_title {
                padding-top: 0px;
                margin-top: 0px;
                
                line-height: 155%;
                letter-spacing: 2px;
                font-size: 1.5em;
                color:  white;

            }
            /* Aside - affichage dernières nouvelles */
        /* .section_part_left_middle {
            flex: 1;
            padding-top: 10%;
          
            
        }     */
        .mainHeader_aside {
           height: 200px;
           width: 90%;
           margin: auto;
           padding:  0px 50px 0px 50px;

           text-align: right;
           overflow: hidden;
           color: white;
           text-shadow: 2px 2px 6px #000000;
         
            background-color: rgb(206, 206, 206, 0.5)

        }       
             .mainHeader_aside h1 {
                 font-size: 2em;

             }
                .mainHeader_aside h1 em {
                    font-size: 0.5em;
                    font-weight: normal;
                   
                }
        /* .section_part_left_footer {
            display: flex;
            flex-direction: row-reverse;
            
        } */
        .mainHeader_nav {
            width: 100%;
            display: flex; 
            flex-direction: row;
            justify-content: flex-end;
        }

            .nav_btn {
            display: flex; 
            flex-direction: row;
            
             color: white;
             text-shadow: 2px 2px 6px #000000;
             list-style-type: none;
               
              }

              .nav_btn a  {
                  text-decoration: none;
                  color: white;
                  margin: 0 1em;

              
              }

              .nav_btn a:hover {
                background-color: rgb(209, 209, 209, 0.5);
                padding: 2px 9px 4px 9px;
                border-radius: 4px;
                text-shadow: none;
              }


             /*============= Section de droite =============*/

    .sectionRight {  
        overflow: scroll;
        height: 100vh;
        width: 50%;
        overflow-x: none;
        }
        
        .sectionRight_header {
            height: 10vh;
            margin: auto;
            display: flex;
            align-items: center;
            background-color: #f1f1f1;
            border-bottom: 1px solid #eaeaea;
        }

             .sectionRight_header_title {
                 margin-left: 30px;
                 margin-top: 5px;
                 font-family: 'Oswald', sans-serif;
                 font-size: 2em;
             } 
    
        .sectionRight_articleS {
            display: flex;
            flex-wrap: wrap;
        }

            .sectionRight_articleS_post {
                width: 50%;
                height: 45vh;
                border-right: 1px solid #eaeaea;
                border-bottom: 1px solid #eaeaea;
                padding: 1.4rem;
                font-family: 'Oswald', sans-serif;
               
                }
                .sectionRight_articleS_post .post_content {
                    height: 41%;
                    overflow: hidden;
                    
                }
         

                .post_infos {
                    /* display: flex;
                    flex-direction: row; */
                    font-size: 0.8em;
                }

                    .post_infos img {
                        width: 1.6rem;
                        margin-right: 10px;
                    }

                    .post_date {
                        color: rgb(194, 194, 194);
                    }

                  

                 /* .post_content {
                        overflow: hidden ;
                    } */

                    .post_sticker {
                        background-color: lightseagreen;
                        padding: 0.9px 7px 2px 7px;
                        text-transform: uppercase;
                        font-size: 0.8em;
                        color: white;
                        border-radius: 4px;
                        width: min-content;
                        
                    }

                    .sectionRight_article a, .sectionRight_articleS a {
                        
                        text-decoration: none;
                    }
                        .post_sticker--team {
                            background-color: red;
                        }
                        .post_sticker--work {
                            background-color: blue;
                            
                        }
                        .post_sticker--news {
                            background-color: limegreen;
                        }

                 .post_link {
                         font-weight: bold;
                         text-decoration: underline ;
                        }
                

/*page de l'article*/
  .sectionRight_article { 
    padding: 1.4rem;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
}                     
/* Page de contact */
.mainHeader--contact {
    background-image:  url('../images/gabriel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 50%;
            
        /* flex: 1;  */
        /* position: static; */
        
    overflow: hidden;
            
    display: flex;
    flex-direction: column;     
    justify-content: space-between;   

}
.sectionRight_mainBlock {
    border: solid 1px rgb(209, 209, 209, 0.5);
    margin: 30px 30px 30px 30px;
    padding:30px 30px 30px 30px;
}
.formChamps {
    display: flex;
    justify-content: space-between;
}
.inputChamps {
    display: inline-block;
    width: 70%;
    border: none;
}
.inputChamps2 {
    display: inline-block;
    width: 70%;
    background-color: #ececec73;
    border: none;
    border-bottom: solid 2px #4cced3;
}

.formLabel {
    width: 30%;
}
.fieldset1 {
    border-left: solid 2px #4cced3 ;
    padding-left: 10px;
}
.submitBlock {
  display: flex;
  align-items: center;
}
.form_submitBtn {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    margin: auto;
    padding: 3px 10px 5px 10px;
    background-color: #4cced3;
    color: white;
    border: none;
    border-radius: 5px;
}
.form_submitBtn:focus {
    border: none;
    background-color:  #ececec73;
}

@media (max-width: 1280px) {
    .sectionRight_articleS {
        display: flex;
        flex-direction: column;
    }
    .sectionRight_articleS_post {
        width: 100%;
       
    }
}
@media (max-width: 740px) {
    .bodyWrap {
        display: flex;
        flex-direction: column;
    }
  


}